/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: green dashed 1px;
}

html {
  height: 100%;
}

body {
  background: #FFF;
  color: #494949;
  font-family: sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  width: auto;
}

/*Main header of the Webpage*/
h1{
  text-align: center;
  font-size: 45px;
  color: black;
  padding: 25px;
  padding-bottom: 10px;
}
/*------------------------------------*\
            Header//Navbar
\*------------------------------------*/
div.navbarbackground{
  background-color: #828282;
  position: fixed;
  width: 150%;
  height: 50px;
  margin-left: -10%;
  margin-right: -20%;
  top: 0px;
  z-index: 90;
}

div.later img{
  width: 110px;
  height: auto;
  left: 10px;
  top: -15px;
  position: fixed;
  z-index: 100;
  margin: 0px;
}

div.homeButton img{
   height: 30px;
   width: 30px;
   right: 160px;
   top: 10px;
   position: fixed;
   z-index: 100;
}

div.magnifyingGlass img{
  height: 30px;
  width: 30px;
  right: 70px;
  top: 10px;
  position: fixed;
  z-index: 100;
}

div.profile img{
  height: 30px;
  width: 30px;
  right: 115px;
  top: 10px;
  position: fixed;
  z-index: 100;
}

div.settings img{
  height: 30px;
  width: 30px;
  right: 25px;
  top: 10px;
  position: fixed;
  z-index: 100;
}

div.settingPulldown img{
  width: 250px;
  height: auto;
  top: 50px;
  position: relative;
  float: right;
  right: -0%;
  position: fixed;
  z-index: 95;
}

div ul{
  position: fixed;
  top: 30px;
  right: 0px;
  z-index: 100;
  list-style-type: none;

}
div ul li {
  padding: 8px 45px 15px 0px;
  font-family: Helvetica,Arial;
  color: white;
  font-size: 25px;
  background: gray;
}

div ul li a{
  text-decoration: none;
  list-style: none;
}

div ul li a:visited{
  text-decoration: none;
  color: white;
}

div ul li a:hover{
  color: black;
}

div.header{
}

#title{
  position: relative;
  top: 20px;
}

.search{
  position: relative;
  top: 50px;
  z-index: 100;
}

/*------------------------------------*\
                ¡BOX
\*------------------------------------*/
.box-wrap {
  margin: 50px 0;
}

.box {
  width: 32%;
  border: solid 1px #CCC;
  float: left;
  padding: 5px;
}
  .box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .box img {
    display: block;
    margin: 0 0 10px;
    width: 100%;
  }

  .pull--right {
  float: right;
}

.pull--left {
  float: left;
}

  /*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/
.btn {
  background: #FFF;
  border: solid 1px #CCC;
  height: 25px;
  text-align: center;
  width: 75px;
}
