<div id="title">
  <img src="images/dashboard.png">
</div>

<div class="jr-wrap">
  <div class="jr-content">
    <div class= "jr-squeeze">
      <div class="box-wrap jr-clear">
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
        <div class="box">
          <img src="images/placard.png" />
          <div class="group-btn jr-clear">
            <button class="btn accent-1 pull--left">Likes</button>
            <button class="btn accent-1 pull--right">Comments</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
