<div id="title">
  <img src="images/profile.png">
</div>
{{#each feed}}
<div class="SM-profileImage"><img src="{{user.profile_picture}}" alt=""> </div>

<div class="SM-userName">
  <h1>{{this.user.username}}</h1>
</div>
{{/each}}
<form  name="SM-myForm" class="SM-form" onsubmit="return validateForm()" method="post" action="dashboard.html">
    <fieldset>
        <div class="SM-div">
            <label for="name"><b class="SM-bold">*Username:</b></label>
            <input class="SM-info" name="SM-mForm" type="text" placeholder="Username">
        </div>

        <div class="SM-div">
            <label for="email"><b class="SM-bold">*Email Address:</b></label>
            <input class="SM-info" name="SM-mForm" type="text" placeholder="Email Address">
        </div>

        <div class="SM-div">
            <label for="bio"><b class="SM-bold">*Bio:</b></label>
            <input class="SM-bio" name="SM-mForm" type="text" placeholder="Bio">
        </div>

        <div class="SM-div">
          <a href="dashboard.html">
            <button type="submit" class="SM-controls"><b class="SM-bold">Submit</b></button>
          </a>
        </div>
    </fieldset>
</form>
