<div id="title">
  <img src="images/saved_searches.png">
</div>

<div class="jr-wrap">
  <div class="jr-content">
    <div class= "jr-squeeze">

      {{#if user.savedSearches}}
        {{#each user.savedSearches}}
        <div class = "jr-btn-3">
          <form action="/savedSearches/remove" method="post">
            <a href = "/search"<strong>#{{this}}</strong></a>
            <input type="hidden" name="savedSearch" value="{{this}}">
            <button type="submit">Delete</button>
          </form>
        </div>
        {{/each}}
      {{/if}}
      <p><br/>&nbsp;</p>
      <p><br/>&nbsp;</p>
    </div>
  </div>
</div>
